# Python / Django
backend/.venv/
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*/migrations/__pycache__/
*.pyc
backend/db.turso
backend/db.turso-wal
backend/db.turso-shm
backend/db.sqlite3
backend/.env

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/.env.local

# OS
.DS_Store
